---
import Layout from "../layouts/Layout.astro";
import Pagina_uno from "../components/Pagina_uno.astro";
import Formularo_contacto from "../components/Formulario_contacto.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Pagina_uno />
    <!-- <Formularo_contacto /> -->
  </main>

  <style>
    main {
      background-color: aliceblue;
    }
  </style>
</Layout>
