<form>
  <div>
    <input type="text" placeholder="Buscar producto" />
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-search"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
          d="M21 21l-6 -6"></path></svg
      >
    </button>
  </div>
</form>

<style>
  div {
    position: relative;
  }
  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form input {
    height: 30px;
    padding: 5px 5px;
    border-radius: 10px;
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    background: none;
  }
</style>
