<form>
    <!-- // <Icon name="twemoji:hamburger"/> -->
    <!-- <Icon name="brand-youtube-filled" /> -->
    <input type="text" placeholder="Buscar producto">
    <!-- <button>Buscar</button> -->
</form>
<style>
    form{
        /* position: fixed; */
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>