---
import { datos_tecnicos } from "../datos/datos_tecnicos";
import Tarjeta from "./Tarjeta.astro";
console.log(datos_tecnicos);
// console.log(Tarjeta);
---

<section>
  {
    datos_tecnicos.map((datos_tecnicos) => {
      return (
        <Tarjeta
          id={datos_tecnicos.id}
          imagen={datos_tecnicos.imagen}
          producto={datos_tecnicos.producto}
        />
      );
    })
  }
</section>

<style>
  section {
    /* color: azure; */
  }
</style>
