---
import Formulario_Contacto from "./Formulario_contacto.astro";
---

<section id="seccion_contacto">
  <h1>Contacto</h1>
  <Formulario_Contacto />
</section>

<style>
section{
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
</style>
