<section id="seccion_inicio">
  <h2>Inicio</h2>
</section>
<style>
  section {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-align: center;
  }
</style>
