---
import Facebook from "../iconos/Facebook.astro";
import Instagram from "../iconos/instagram.astro";
import Linkedin from "../iconos/Linkedin.astro";
import Youtube from "../iconos/youtube.astro";
---

<article>
  <h2>Contactanos</h2>
  <h3>Atencion al cliente</h3>
  <ul>
    <li>Cochabamba: 12345678</li>
    <li>La Paz: 12345678</li>
    <li>Santa Cruz: 12345678</li>
  </ul>
  <h3>Direcciones</h3>
  <ul>
    <li>La Paz – Calle Yanacocha esq. Mercado Nº 1234</li>
    <li>Santa Cruz – Av. Cristo Redentor Nº 1234</li>
    <li>Cochabamba – Av. Blanco Galindo, Kilometro 4 1/2.</li>
  </ul>
  <h3>Siguenos</h3>
  <a href="">
    <Facebook />
  </a>
  <a href="">
    <Instagram />
  </a>
  <a href="">
    <Linkedin />
  </a>
  <a href="">
    <Youtube />
  </a>
</article>
<style>
  article {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 15px 15px;
  }
</style>
